@charset "utf-8";
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0
}

body,
input,
textarea,
button,
select,
pre,
xmp,
tt,
code,
kbd,
samp {
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button,
select {
  font-size: 100%
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: normal
}

address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left
}

caption,
th {
  text-align: inherit
}

ul,
ol,
menu {
  list-style: none
}

fieldset,
img {
  border: 0
}

img,
object,
input,
textarea,
button,
select {
  vertical-align: middle
}

article,
aside,
footer,
header,
section,
nav,
figure,
figcaption,
hgroup,
details,
menu {
  display: block
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "\0020"
}

textarea {
  overflow: auto;
  resize: vertical
}

input,
textarea,
button,
select,
a {
  outline: 0 none;
  border: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0
}

mark {
  background-color: transparent
}

a,
ins,
s,
u,
del {
  text-decoration: none
}

sup,
sub {
  vertical-align: baseline
}

html {
  width: 100%;
  min-height: 100vh;
  color: #333333;
  background-color: #ffffff;
  font-family: -apple-system-font, sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}
